.spell-heading {
	font-size: 3rem;
}

.spell-detail {
	margin: 2rem auto;
	width: 70%;
	min-width: 360px;
	padding: 20px 10px;
}

.spell-detail-not-found {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.spell-details {
	width: fit-content;
	padding: 0 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.spell-details {
	width: 100%
}